
nav{
    background-color: #5175C0;
    padding: 24px;
}
nav:hover a{
    color: #73a8e3;
    transition: 0.6s;
}
a{
    display: inline-block;
    font-family: "Century Gothic";
    font-size: 20px;
    padding: 20px 0px 20px 0px;
    margin: 0px 20px 0px 20px;
    text-decoration: none;
    color: white;
}
a:hover{
    color: white !important;
}
a:not(:hover){
    transition: color 0.6s;
}